<header class="header secondaryColor">
  <div class="flex-row title">
    <span><img src="assets/logo.png" alt="logo" class="icon" /></span>
    <h1>Currency Exchange</h1>
  </div>
  <ul class="options">
    <li>
      <a
        routerLink="/CurrencyExchnage"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >EUR-USD Details</a
      >
    </li>
    <li>
      <a
        routerLink="/CurrencyDetails"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >EUR-GBP Details</a
      >
    </li>
  </ul>
</header>
