.CurrencyConverterContainer {
  background-color: #278664;
  margin: 20px;
  padding: 20px;
  border: 5px solid black;
  border-radius: 10px;
  display: flex;
  flex-flow: column nowrap;
}

.CurrencyConverterContainer input,
select {
  background-color: #fefeea;
  color: #676e5d;
}

.AmountInput {
  width: 20vw;
  min-width: 10px;
}

.currencyBoard {
  display: flex;
  flex-flow: row wrap;
  flex-basis: 33.333333%;
  padding: 1em;
  margin: auto;
  width: 100%;
  justify-content: center;
}

.currencyCard {
  background-color: #676e5d;
  margin: 20px;
  border: 5px solid black;
  border-radius: 10px;
  justify-content: center;
  padding: 2em;
  flex-wrap: wrap;
  min-width: 25em;
}
